DATABASE_URL="postgresql://postgres:123@localhost:5432/book-store-db?schema=public"

ACCESS_TOKEN_SECRET="Secret"
ACCESS_TOKEN_TTL=3600

REFRESH_TOKEN_SECRET="Secret"

FRONTEND_URL="http://localhost:3000"